// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #C4A554;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(44, 42, 42);
$light-gray: #F4F4F4;
$brown: #D0AB84;
