.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.navbar h1 {
  font-size: 30px;
  color: $brown;
}

body {
  background: #2c2a2a;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 70%;
  height: 27px;
  margin-left: 39px;
}

.container h3 {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-left: 61px;
}

.algolia-places {
  width: 70%;
}

#address {
  width: 84%;
}
