.navbar h1 {
  font-size: 30px;
  color: $brown;
  padding: 10px;
}

body {
  background: #2c2a2a;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-home h3 {
  font-size: 48px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-left: 49px;
  font-weight: 600;
  margin-bottom: 0px;
}

.h3-first {
  font-size: 48px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-left: 49px;
  margin-top: 40px;
  font-weight: 600;
  margin-bottom: 0px;
}

.algolia-places {
  width: 70%;
}

#address {
  position: relative;
  vertical-align: top;
  margin-left: 21px;
  border: none;
  &:focus {
      outline: none;
  }
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-search-home {
  background-color: white;
  margin: 20px 21px;
  border-radius: 50px;
  width: 333px;
  position: absolute;
  top: 41%;
}

.btn-search-home button {
  margin-left: 44px;
}

.ap-input-icon svg {
  display: none;
}

.navbar img {
  width: 32%;
}

.btn-brown1 {
  color: $brown;
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 21px;
  background-color: white;
}