.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.navbar h1 {
  font-size: 30px;
  color: $brown;
}

body {
  background: linear-gradient($gray, rgb(71, 71, 71));
  background-size: cover;
  background-position: center;
  height: 100vh;
}