// Import page-specific CSS files here.
@import "home";
@import "search";
@import "show";
@import "rating";

.container {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  h1 {
    font-size: 16px;
    margin-bottom: -1px;
  }
  h2 {
    font-size: 10px;
  }
}

#big-picture-landscape {
  img {
  width: 350px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-top: 0px;

  display: flex;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  margin-top: 20px;
  }
  #reviews-bs{
    position: absolute;
    right: -2px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
    opacity: 0.65;
    color: white;
  }
      #rating-bs {
        font-size: 18px;
        text-align: center;
      }
      #number-reviews-bs{
        font-size: 8px;
      }
}

#small-picture-square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#first-img{
  border-right: 2px solid white;
  border-top: 2px solid white;
  img {
  border-bottom-left-radius: 8px;
    }
}
#second-img {
  border-top: 2px solid white;
  border-right: 2px solid white;
}

#third-img {
  border-top: 2px solid white;
  border-right: 2px solid white;
}

#last-img {
  border-top: 2px solid white;
  img {
    border-bottom-right-radius: 8px;
    }
}

img {
  width: 86px;
  height: 86px;
  object-fit: cover;
  object-position: center;
}
#name-barbershop, #address-barbershop {
  color: white;
}

#address-barbershop {
  border-bottom: 1px solid rgba(172, 172, 172, 0.564);
  padding-bottom: 10px;
}

#name-barbershop {
  margin-top: 5px;
}
.one-barbershop {
  margin-left: -3px;
  position: relative;
}

#fixed-button {
  color: grey;
  font-weight: lighter;
  background: white;
  position: fixed;
  bottom: 170px;
  right: 12px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  z-index: 999;
  border: none;
    i {
    width: 23;
    color: $brown;
    display: block;
    }
}

#fixed-button:hover {
  background: $brown;
  color: white;
  i {
    color: white;
  }
}

.modal-body {
  height : 325px;
  #map {
    height: 100vh;
  }
}
