// Import page-specific CSS files here.
@import "home";
@import "show";

.container {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  h1 {
    font-size: 16px;
    margin-bottom: -1px;
  }
  h2 {
    font-size: 10px;
  }
}

#big-picture-landscape
  img {
  width: 349px;
  height: 150px;
  object-fit: cover;
  object-position: center;

}

#small-picture-square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
}
  img {
  margin-top: 3px;
  width: 85px;
  height: 85px;
  object-fit: cover;
  object-position: center;
}
