// Import page-specific CSS files here.
@import "home";
@import "search";
@import "show";
@import "rating";
@import "new";
@import "profile";
@import "edit";
@import "reservation";


#big-picture-landscape {
  img {
  width: 326px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-top: 0px;

  display: flex;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  margin-top: 25px;
  }
  #reviews-bs{
    position: absolute;
    right: -2px;
    top: 0px;
    background-color: #957573;
    border-radius: 15px;
    color: white;
    padding: 1px 7px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
  }
      #rating-bs {
        font-size: 19px;
        font-weight: bold;
        text-align: center;
      }
      #number-reviews-bs{
        font-size: 8px;
      }
      i{
        color: #d0ab84;
        font-size: 15px;
      }
}

#small-picture-square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#first-img{
  border-right: 2px solid white;
  border-top: 2px solid white;
  img {
  border-bottom-left-radius: 8px;
    }
}
#second-img {
  border-top: 2px solid white;
  border-right: 2px solid white;
}

#third-img {
  border-top: 2px solid white;
}

#last-img {
  border-top: 2px solid white;
  img {
    border-bottom-right-radius: 8px;
    }
}

a img {
  width: 107px;
  height: 85px;
  object-fit: cover;
  object-position: center;
}
#name-barbershop, #address-barbershop {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#address-barbershop {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 16px;
  margin-left: 12px;
}

#name-barbershop {
  margin-top: 15px;
  font-weight: bolder;
  font-size: 22px;
  margin-left: 12px;
}
.one-barbershop {
  position: relative;
  background-color: #444040;
  border-radius: 8px;
  width: 325px;
  margin-left: 10px;
}


#fixed-button {
  color: grey;
  font-weight: lighter;
  background: white;
  position: fixed;
  bottom: 90px;
  right: 26px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  z-index: 999;
  border: none;
  font-family: 'Open Sans', sans-serif;
    i {
    width: 23;
    color: $brown;
    display: block;
    }
}

#fixed-button:hover {
  background: $brown;
  color: white;
  i {
    color: white;
  }
}

.modal-body {
  // height : 325px;
  padding: 2px;
  #map {
    height: 98vh;
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: rgb(0, 0, 0);
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  outline: 0;
}

.modal-body button {
  color: white;
  position: absolute;
  top: 1%;
  z-index: 1;
  right: 91%;
}

.close {
  font-size: 40px;
}

.btn-search-index {
  background-color: white;
  margin: 0px 10px;
  margin-top: 8px;
  border-radius: 50px;
  width: 333px;
}

.algolia-places {
  width: 70%;
}

.btn-search-index button {
  margin-left: 44px;
}

.ap-input-icon svg {
  display: none;
}

.btn-brown1 {
  color: $brown;
  margin: 10px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 21px;
  background-color: white;
}

#resultat {
  color: white;
  text-align: center;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
