h1 {
  color:white;
  font-size: 30px;

}
p {
  color: white
}

.button-book {
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: bold;
  background: $brown;
  transition: background 0.3s ease;
  font-size: 10px;
  border: none;
  width: 300px;
}

.service-details {
  #book-description {
    text-align: left;
  }
}

#book-description h3 {
  margin-left: 0px;
}
#title-book h3{
  text-align: center;
  margin-left: 0px;
  font-size: 21px;
}
#book-services {
  margin-top: 0px;
}

#title-book {
    margin-top: 130px;
}

#available-days {
  color: white;
}
