h1 {
  color:white;
  font-size: 30px;

}
p {
  color: white
}

.button-book {
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: bold;
  background: $brown;
  transition: background 0.3s ease;
  font-size: 10px;
  border: none;
  width: 300px;
}

.service-details {
  #book-description {
    text-align: left;
  }
}

#book-description h3 {
  margin-left: 0px;
}
#title-book h3{
  text-align: center;
  margin-left: 0px;
  font-size: 21px;
}
#book-services {
  margin-top: 0px;
}

#title-book {
    margin-top: 130px;
}

#available-days {
  color: white;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 77px;
}
.category-item {
  flex: 0 0 30%;
}
.category-selector {
  position: absolute;
  transform: scale(0);
}
.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 80%;
  font-size: 16 px;
  text-align: center;
  border: 1px solid $brown;
  border-radius: 4px;
  background-color: #444040;
  margin: 10px;
  color: white;
}
.category-selector:checked + label {
  color: white !important;
  background-color: $brown !important;
}
.form-group label {
  padding-left: 10px;
}
