.container-booking {
  background-color: #4242429e;
  border: 2px solid #D0AB84;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 25px 23px;
  height: 60vh;
}

.booking-prestation {
  border-bottom: 1px solid $brown;
}


.title-reservation {
  text-align: center;
  color: $brown;
}

.prestation-reservation {
  border-bottom: 1px solid $brown;
  padding: 2px 10px;
  margin: 10px 0px;
}

.btn-reservation .btn-brown {
  color: white;
  padding: 9px 30px;
  border-radius: 22px;
  font-weight: bold;
  background-color: $brown;
  font-size: 20px;
  display: block;
  text-align: center;
}

.title-reservation h1 {
  margin: 27px 0px;
}

.booking-prestation h3, .booking-shop h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #d0ab84;
  text-transform: uppercase;
  font-weight: bold;
}


.booking-prestation p, .booking-shop p {
  margin-top: 5px;
  font-size: 21px;
}

.nav-item-reservation  a {
  font-size: 23px;
  color: white;
}
.nav-link-reservation.active {
  border-bottom: 1px solid $brown;
  text-decoration: none;
  -webkit-appearance: none;
}

.total-reservation {
  color: white;
  font-size: 21px;
  font-size: 20px;
  font-weight: bold;
}

.booking-shop {
  padding: 2px 10px;
  margin: 10px 0px;
  border-top: 1px solid $brown;
}

.pills-tab {
  -webkit-appearance: none !important;
  -webkit-appearance: none !important;

}
