.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 13px 22px;
  border-radius: 8px;
  background-color:#444040;
  color: white;
}

.category-item-service label {
  width: 208%;
}

.services h2 {
  color: white;
  position: absolute;
  top: 4%;
  left: 30%;
}

label img {
  width: 80px;
  height: 80px;
}

.category-wrapper h2 {
  color: white;
  position: absolute;
  top: 20%;
  left: 15%;
}

.category-wrapper h3 {
  color: white;
  position: absolute;
  font-size: 35px;
  top: 4%;
  left: 35%;
  width: 115%;
}

.category-item-homme {
  position: absolute;
  top: 30%;
  left: 5%;
}

.category-item-homme:active {
  label {
    background-color: $brown !important;
  }
}

.category-item-femme {
  position: absolute;
  top: 30%;
  left: 53%;
}

.category-item-femme:active {
  label {
    background-color: $brown !important;
  }
}

#homme, #femme {
  &.active {
    background-color: $brown !important;
  }
}

.inactive {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  margin-top: 34px;
  padding: 36px;
  margin-right: -137px;
  position: absolute;
  width: 217px;
}

.btn-search {
  width: 208%;
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

.prestation-homme-femme {
  margin-bottom: 120px;
  width: 150%;
  font-size: 35px;
}

.fa-arrow-left {
  color: $brown;
  font-size: 18px;
  position: absolute;
  top: 0px;
}

#femme p, #homme p {
  margin-top: 15px;
  margin-bottom: 0px;
}

#homme {
  color: white;
}

.category-selector-gender {
  position: absolute;
  transform: scale(0);
}

.category-selector-gender + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 26px 33px;
  border-radius: 8px;
  background-color:#444040;
  color: white;
}

.category-item-service:active {
  label {
    background-color: $brown !important;
  }
}
