.card-info-barber {
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 20px;
}

.show-services {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.service-details {
  display: flex;
  border: 1px solid gray;
  width: 80%;
  border-radius: 8px;
  margin-right: 15px;
  height: 55px;
}

.service-details h3 {
font-size: 16px;
}

.btn-service .btn {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  align-items: center;
}
