.card-info-barber {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  margin-top: -10px;
  background-color: white;
  position: relative;
  padding: 10px 15px 2px 15px;
  margin-bottom: 25px;
  box-shadow: 0 1px 3px rgba(255, 254, 254, 0.4);
}

.show-services {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  align-items: center;
}

.service-details {
  border-radius: 8px;
  margin: 20px 15px;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  background-color: #413e39;
}

.service-details h3 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d0ab84;
}

.service-details p {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: lighter;
}

#text-right-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 16px;
  align-items: baseline;
  font-size: 30px;
  color: #d0ab84;
}

#book-service {
  padding: 15px 10px;
  margin-right: 12px;
  align-items: center;
  background-color: $brown;
}

.nav-link {
  color: #f0dbc5;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #D0AB84;
  padding: 7px;
  border-bottom: 1px solid #c8a767;
  background-color: transparent;
}

.carousel-item img {
  height: 200px;
  margin-top: 0px;
}

.underline {
  border: 0.5px solid $brown;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  opacity: 0.3;
  width: 85%;
  margin-left: 25px;
  margin-top: 15px;
}

.realisations img {
  width: 160px;
  margin: 6px 10px;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.portfolio_wrap {
  display: flex;
  flex-wrap: wrap;
}

.opening-hours p {
  margin-bottom: 7px;
  margin-left: 10px;
}

.opening-hours {
  display: flex;
  justify-content: space-between;
}

.opening {
  color: $brown;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -20px;
  padding: 10px;
  margin-bottom: 20px;
}

.btn-service .btn {
  align-items: center;
  background-color: $brown;
  padding: 4px 12px;
  font-size: 12px;
}

.btn-service {
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  color: white;
  margin-bottom: 10px;
}

.btn-service p {
  margin: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #D0AB84;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-links a {
  color: $brown;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.map-details-barber {
  height: 200px;
}

.fa-arrow-circle-left {
  font-size: 20px;
  color: black;
}

.info-barber p {
  color: black;
}

.checkbox-service:checked + label .service-details {
  border: 1px solid;
}

.btn-brown2 {
  position: fixed;
  bottom: 90px;
  width: 90vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #c8a767;
  background: #c8a767;
  border-radius: 30px;
  color: white;
}

.fa-phone-alt {
  margin-right: 5px;
}
