<div>
  <%= render 'shared/carousel' %>
  <div class="card-info-barber">
    <div class="info-barber">
      <h2><%= @barber_shop.name %></h2>
      <p><%= @barber_shop.address %></p>
    </div>
  </div>

  <hr>
  <ul class="nav nav-pills mb-1 d-flex justify-content-between" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-coiffures-tab" data-bs-toggle="pill" data-bs-target="#pills-coiffures" type="button" role="tab" aria-controls="pills-coiffures" aria-selected="true">Coiffures</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-portfolio-tab" data-bs-toggle="pill" data-bs-target="#pills-portfolio" type="button" role="tab" aria-controls="pills-portfolio" aria-selected="false">Portfolio</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-notes-tab" data-bs-toggle="pill" data-bs-target="#pills-notes" type="button" role="tab" aria-controls="pills-notes" aria-selected="false">Notes</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-details-tab" data-bs-toggle="pill" data-bs-target="#pills-details" type="button" role="tab" aria-controls="pills-details" aria-selected="false">Détails</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-coiffures" role="tabpanel" aria-labelledby="pills-coiffures-tab">
      <div class="show-services">
      <div class="service-details">
        <div>
          <h3>Nom du service</h3>
          <p>Détails</p>
        </div>
        <div class="text-right">
          <p>Price</p>
          <p>Durée</p>
        </div>
      </div>
      <div class="btn-service">
        <a class="btn btn-flat" href="#">Book</a>
      </div>

    </div>

    </div>
    <div class="tab-pane fade" id="pills-portfolio" role="tabpanel" aria-labelledby="pills-portfolio-tab">
      <div class="realisations">
      <div class="photo-barber">
        <p>J'aime</p>
        <p>Commenter</p>
      </div>
    </div>
    </div>
    <div class="tab-pane fade" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab">
      <div class="card-review">
      </div>
    </div>
    <div class="tab-pane fade" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
      <div class="card-map">
        <p><%= @barber_shop.address %></p>
      </div>
      <br>
      <p>numero</p>
      <br>
      <div class="opening-hours">
      </div>

    </div>
  </div>





</div>
