<div class="tabbar">
	<a href="#" class="link">
    <div class="link-logo">
      <i class="fas fa-search"></i>
      <p>Explorer</p>
    </div>
	</a>

	<a href="#" class="link">
    <div class="link-logo">
      <i class="far fa-heart"></i>
      <p>Favoris</p>
    </div>
	</a>

	<a href="#" class="link">
    <div class="link-logo">
      <i class="fas fa-cut"></i>
      <p>Réservations</p>
    </div>
	</a>

	<a href="#" class="link">
    <div class="link-logo">
      <i class="far fa-comment-dots"></i>
      <p>Messages</p>
    </div>
	</a>

	<a href="#" class="link">
    <div class="link-logo">
      <i class="fas fa-user-alt"></i>
      <p>Profil</p>
    </div>
	</a>
</div>