<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url(https://www.dealhair.ch/wp-content/uploads/2018/05/pointbarber-dealhair_02.jpg);">
  <div class="container container-home">
    <div class="navbar">
      <%= image_tag ("logoAircut.png") %>
    </div>

    <div class="home-search-container">
      <h3>Trouver un <br><span id="banner-typed-text" class="h3-second" style="color: #d0ab84"></span></h3>

      <%= form_tag search_path, method: :get, class: "form-home", data: {controller: "search"} do %>
        <div class="btn-search-home">
          <%= text_field_tag :address,
            params[:address],
            class: "form-control mr-sm-2",
            id: "address",
            data: {search_target: "address"},
            placeholder: "Adresse"
          %>
          <%= button_tag(type: "submit", class: "btn-brown1 btn-brown:hover border-0") do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
