.btn-brown {
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: bold;
  background-color: $brown;
  transition: background 0.3s ease;
  font-size: 10px;
}

.btn-brown:hover {
  background-color: $brown;
  color: white;
}
