.tabbar {
  background-color: #2c2a2a;
  border-top: 3px solid #D0AB84;
  padding: 6px 19px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
  padding-top: 13px;
  align-items: flex-end;
}

.link {
  i {
    color: white;
  }
}
.link {
  i:hover {
    color: $brown;
  }
}

.link p {
  font-size: 14px;
  margin-bottom: 0px;
  color: white;
}


.link i {
  font-size: 35px;
}
.link-logo {
  text-align: center;
}

.link-logo:hover {
  text-align: center;
}

.active-btn {
  i {
    color: $brown;
  }
  p {
    color: $brown;
  }
}
.active-profile {
  p {
    color: $brown;
  }
}